* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Pokedex;
    src: url(./font/Pokemon\ Solid.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-family: 'Pokedex';
    font-weight: lighter;
    color: rgb(150, 12, 12);
    /* text-shadow: 10px 10px 5px black; */
}

.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: #E3814E;

    box-shadow: 10px 5px;
    border-radius: 10px;


    margin-top: 15%;
    width: 15rem;
}

.poke_info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.poke_nav button {
    width: 50px;
    height: 50px;
    margin: 1rem;

    background-color: red;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px black;

    cursor: pointer;
}


.poke_nav button:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px black;

}